a {
    text-decoration: none;
    display: block;
    width: 75%;
    height: 100%;
    padding: 8px 8px;
    border: solid 1px #666;
    border-radius: 8px 8px 8px 8px;
    color: #666;
    background-color: #fff;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: #fff;
    border-color: rgb(54, 112, 236);
    background-color: rgb(54, 112, 236);
}

* {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    line-height: 1.2;
    font-family: 思源黑体, sans-serif;
    moz-user-select: -moz-none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

h1 {
    margin: 16px auto;
    color: rgb(27, 94, 238);
}

h3 {
    margin: 16px auto;
}

p {
    margin: 8px auto;
}

body {
    margin: 32px 24px;
    padding: 0;
}

ul,
ol,
dl {
    list-style: none;
}

li,
dd,
dt {
    display: block;
    margin: 8px 1em;
}

dt {
    font-weight: 700;
}

.scroll {
    height: calc(100vh - 64px);
    overflow: auto;
}